.item {
  width: 100%;
  padding-inline: var(--spacing-100);
  padding-block: var(--spacing-125);
  font: var(--text-preset-7-font);
  color: var(--color-neutral-0);
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
  border-radius: var(--radius-8);
}

.item:hover {
  background-color: var(--color-neutral-700);
}

.item.active {
  background-color: var(--color-neutral-700);
}
