.label {
  font: var(--text-preset-8-font);
  color: var(--color-neutral-300);
  padding-inline: var(--spacing-100);
  padding-block-start: var(--spacing-75);
  margin-block-end: var(--spacing-100);
}
