.menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
  position: absolute;
  top: calc(100% + var(--spacing-100));
  min-width: 140px;
  padding: var(--spacing-100);
  list-style: none;
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);
  z-index: 100;
}

.menu.left {
  left: 0;
}

.menu.right {
  right: 0;
}
