.searchingState {
  padding: var(--spacing-100);
  background-color: var(--color-neutral-800);
  border-radius: var(--radius-12);
  border: 1px solid var(--color-neutral-700);
  position: absolute;
  top: calc(100% + var(--spacing-150));
  left: 0;
  width: 100%;
  z-index: 10;
}

.inner {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  font: var(--text-preset-7-font);
  color: var(--color-neutral-0);
  padding-inline: var(--spacing-100);
  padding-block: var(--spacing-125);
}
