.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  background-color: var(--color-neutral-800);
  outline: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);
}
