.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.heroCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-200);
  background-image: url("/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--radius-20);
  padding-inline: var(--spacing-300);
  padding-block: var(--spacing-1000);
  overflow: hidden;
}

.heroCard.loading {
  background-image: none;
  background-color: var(--color-neutral-800);
  justify-content: center;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-150);
}

@media (min-width: 768px) {
  .heroCard {
    flex-direction: row;
    justify-content: space-between;
    background-image: url("/images/bg-today-large.svg");
    background-size: cover;
    height: 286px;
  }

  .locationInfo {
    align-items: flex-start;
  }
}

.locationName {
  font: var(--text-preset-4-font);
  color: var(--color-neutral-0);
}

.date {
  font: var(--text-preset-6-font);
  color: var(--color-neutral-0);
  opacity: 0.8;
}

.tempDisplay {
  display: flex;
  align-items: center;
}

.icon {
  width: 120px;
  height: 120px;
}

.temp {
  font: var(--text-preset-1-font);
  font-style: var(--text-preset-1-font-style);
  letter-spacing: var(--text-preset-1-letter-spacing);
  color: var(--color-neutral-0);
}
