.unitsContainer {
  position: relative;
}

.unitsDropdown {
  position: absolute;
  top: calc(100% + var(--spacing-100));
  right: 0;
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-12);
  padding-inline: var(--spacing-100);
  padding-block: var(--spacing-75);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  min-width: 13.75rem;
  z-index: 1000;
  overflow: hidden;
}

.divider {
  height: 1px;
  background-color: var(--color-neutral-600);
}
