.item {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
  padding-inline-start: var(--spacing-150);
  padding-inline-end: var(--spacing-200);
  padding-block: var(--spacing-125);
  background-color: var(--color-neutral-700);
  outline: 1px solid var(--color-neutral-600);
  border-radius: var(--radius-8);
  height: 3.75rem;
}

.weatherIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.time {
  font: var(--text-preset-5-medium-font);
  color: var(--color-neutral-0);
  flex: 1;
}

.temp {
  font: var(--text-preset-7-font);
  color: var(--color-neutral-0);
}
